/* GLOBAL */
* {box-sizing: border-box; margin: 0; padding: 0;}
body {
  font-size: 14px;
  font-family: 'Raleway',
  sans-serif;
  color: white;
}
:root{
  /*### Primary
  --Gradient: hsl(6, 100%, 80%) to hsl(335, 100%, 65%) */

  /*### Neutral*/
  --PaleBlue: hsl(243, 100%, 93%);
  --GrayishBlue: hsl(229, 7%, 55%);
  --DarkBlue: hsl(228, 56%, 26%);
  --VeryDarkBlue: hsl(229, 57%, 11%);
}

/* GENERAL */
.first-card {
  padding: 2.7rem 2rem 2rem 2rem;
  background-color: var(--DarkBlue);
  border-radius: 15px 90px 15px 15px;
}
.first-card > img {
  width: clamp(100px, 60%, 270px);
  padding-bottom: 1rem;
}
.second-card {
  background-color: var(--DarkBlue);
  padding: 1.3rem 3rem 1.3rem 1rem;
}
.icon-holder {
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
  align-items: center;
}
.icon-holder img {
  padding: 1rem;
  display: block;
}
.img-holder {
  background-color: var(--VeryDarkBlue);
  height: 3rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.second-card {
  border-radius: 15px;
  text-align: center;
  color: var(--PaleBlue);
  padding-inline: clamp(30px, 5%, 2rem);
}
.second-card .GB {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.second-card p {padding-top: 1rem;}
.second-card span {font-weight: bold;}
.GB span {padding-bottom: 1rem;}
.GB {padding-bottom: 5px;}
.GB-left {
  background-color: white;
  color: black;
  display: flex;
  gap: 10px;
  padding: .7rem;
  border-radius: 10px;
  width: 60%;
  max-width: 170px;
  margin: -2.5rem auto 0 auto;
  align-items: center;
  justify-content: center;
}
.GB-left p {font-size: 2.5rem; font-weight: 700;}
.GB-left span {
  font-size: .8rem;
  font-weight: 400;
  align-self: center;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* Range */
 /* Chrome */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  input[type='range'] {
    overflow: hidden;
    width: 100%;
    height: 17px;
    -webkit-appearance: none;
    background-color: var(--VeryDarkBlue);
    border-radius: 50px;
    padding: 2px;
    margin: 1rem 0;
  }
}
/* FF */
input[type="range"]::-moz-range-progress {
  height: 12px;
  border-radius: 50px;
  background: rgba(255,163,153,1);
  background: -moz-linear-gradient(left, rgba(255,163,153,1) 0%, rgba(255,163,153,1) 45%, rgba(255,77,151,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,163,153,1)), color-stop(45%, rgba(255,163,153,1)), color-stop(100%, rgba(255,77,151,1)));
  background: -webkit-linear-gradient(left, rgba(255,163,153,1) 0%, rgba(255,163,153,1) 45%, rgba(255,77,151,1) 100%);
  background: -o-linear-gradient(left, rgba(255,163,153,1) 0%, rgba(255,163,153,1) 45%, rgba(255,77,151,1) 100%);
  background: -ms-linear-gradient(left, rgba(255,163,153,1) 0%, rgba(255,163,153,1) 45%, rgba(255,77,151,1) 100%);
  background: linear-gradient(to right, rgba(255,163,153,1) 0%, rgba(255,163,153,1) 45%, rgba(255,77,151,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa399', endColorstr='#ff4d97', GradientType=1 );
}
input[type="range"]::-moz-range-track {
  background-color: var(--VeryDarkBlue);
  height: 12px;
  border-radius: 50px;
}
input[type=range]::-moz-range-thumb {
  width: 10px;
  height: 10px;
  background: #ffffff;
  transform: translateX(-5px);
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

/* MEDIA QUERY */
@media (min-width: 375px) {
  body {
    background-image: url(./images/bg-mobile.png);
    background-size:cover;
    background-repeat: no-repeat;
  }
  .main-fylo {
    display: grid;
    place-content: center;
    height: 100vh;
    gap: 1rem;
  }
}

@media (min-width: 1440px) {
  body {
    background-image: url('./images/bg-desktop.png');
    background-size:contain;
    background-repeat: no-repeat;
    background-position: bottom;
    background-color: var(--VeryDarkBlue);
    font-size: 16px;
  }
  .main-fylo{
    display: grid;
    grid-template-columns: 25vw 40vw;
    place-content: center;
    gap: 2rem;
  }
  .second-card {
    align-self: flex-end;
    text-align: left;
  }
  .GB {padding-block: 0;}
  .GB-left {
    transform: translate(670px, -199px);
    padding: .5rem 0;
    position: relative;
  }
  .GB-left::after{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 10px solid white;
    border-bottom: 30px solid transparent;
    border-right: 25px solid white;
    bottom:-20px;
    right:0;
  }
  .icon-holder {padding-top: .5rem;}
}
